.photo-figure {
    margin: 0;
}

.photo-actions {
    > * {
        display: inline-block;
        margin: 0;
    }

    a,
    button.button-clear {
        padding: 0.5rem 0.444rem;
        font-size: 1.1rem;
        color: inherit;
    }
}